.request-background {
    background-color: #8391A2;
    /* background-color: #6C757D; */
    /* background-color: #727CF5; */
    /* background-color: #8391A2; */
    /* background-color: #0ACF97 */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-content {
    background-color: whitesmoke;
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 20px;
}

.request-content-return-btn {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #727CF5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.request-info {
    height: 150px;
    border: 2px solid #727CF5;
    border-radius: 10px;
    margin-top: 10px;
}

.request-chat {
    background-color: white;
    height: calc(100% - 350px);
    min-height: 200px;
    margin-top: 10px;
    border: 2px solid #f57272;
    border-radius: 10px;
    overflow-y: scroll;
}

.message-input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    /* border: 2px solid #6C757D; */
}

.message-input-container input {
    border: 2px solid #8391A2;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-right: 15px;
}

.message-input-container button:nth-of-type(1) {
    background-color: #0ACF97;
    border: 0px solid rgb(10, 207, 151);
    box-shadow: 0 1px 7px rgba(10, 207, 151, 0.5);
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100px;
    height: 30px;
    
}