.filter-toggle label {
  /* position: relative;
    display: inline-block;
    width: 60px;
    height: 30px; */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-toggle span {
  /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    cursor: pointer;
    background: #2c3e50;
    border-radius: 30px; */
  display: inline-block;
  width: 58px; /* или другая фиксированная ширина */
  height: 29px; /* или другая фиксированная высота */
  background-color: #ccc; /* цвет выключенного состояния */
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s;
}

/* span:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 2.6px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
  } */

.filter-toggle span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.filter-toggle input:checked + span {
  background-color: #2623ff;
}

.filter-toggle input:checked + span:before {
  transform: translateX(29px);
}

.filter-toggle strong {
  /* position: absolute;
    left: 100%;
    width: max-content;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer; */
  position: relative;
  margin-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
