.ticket-chat-background {
  background-color: #e9e9e9;
  /* background-color: #6C757D; */
  /* background-color: #727CF5; */
  /* background-color: #8391A2; */
  /* background-color: #0ACF97 */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-chat-content-left {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 95%;
  padding: 20px 0px 20px 20px;
  border-radius: 10px 0px 0px 10px;
  box-sizing: border-box;
}

.ticket-chat-content-right {
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 95%;
  padding: 20px 10px 20px 10px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.ticket-chat-content-return-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20pt;
  margin-bottom: 10px;
  font-weight: bolder;
  color: rgb(32, 32, 32);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ticket-chat-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  border: 0px solid #727cf5;
  border-radius: 10px;
  margin-top: 10px;
}

/* .ticket-chat-settings {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  border: 0px solid #727cf5;
  border-radius: 10px;
  margin-top: 10px;
} */

.ticket-chat-status-select {
  height: 35px;
  margin: 10px;
  font-size: 12pt;
  background-color: white;
  border: 1px solid #2623ff;
  border-radius: 5px;
}
.info-item:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-item .title {
  /* background-color: rgb(223, 223, 223); */
  color: rgb(32, 32, 32);
  /* background: #eeeeee; */
  /* background: linear-gradient(
    to bottom,
    #dadada 0%,
    #e7e7e7 50%,
    transparent 100%
  ); */
  /* border-radius: 5px; */
  padding: 5px 12px 2px 10px;
  width: 100%;
  font-size: medium;
  font-weight: bolder;
  box-sizing: border-box;
  font-size: 14pt;
  /* margin-bottom: 4px; */
}

.info-item .value--first {
  padding: 4px 12px 20px 12px;
  color: #333;
  font-size: 22pt !important;
  font-weight: bold;
}

.info-item .value {
  padding: 0px 12px 0px 10px;
  color: #333;
  font-size: 12pt;
}

.request-chat-message-container {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: white;
  /* height: calc(100% - 350px); */
  height: calc(70%);
  min-height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #2623ff;
  border-radius: 5px;
  overflow-y: auto;
}

.ticket-chat-self-message {
  border-radius: 15px;
  background-color: #2623ff;
  color: white;
  padding: 8px;
  max-width: 500px;
  align-self: flex-end;
}
.ticket-chat-other-message {
  border-radius: 15px;
  border: 1px solid #2623ff;
  background-color: #ffffff;
  padding: 8px;
  max-width: 500px;
  align-self: flex-start;
}

.message-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 35px;
}

.message-input-container input {
  border: 1px solid #2623ff;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: medium;
}

.message-input-container button:nth-of-type(1) {
  background-color: #ffffff;
  border: 1px solid #2623ff;
  border-radius: 0px 5px 5px 0px;
  color: #2623ff;
  font-size: 12pt;
  cursor: pointer;
  width: 100px;
  height: 39px;
  transition: background-color 0.3s, color 0.1s;
}

.message-input-container button:nth-of-type(1):hover {
  background-color: #2623ff;
  color: white;
}
