.container {
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .tile {
    position: relative; /* чтобы круг мог позиционироваться относительно карточки */
    border: 1px solid #ccc;
    /* display: flex; */
    /* align-items: center; Центрирование по вертикали */
    /* justify-content: center; Центрирование по горизонтали */
    /* height: 100px; Высота плитки */
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .tile-unread-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Устанавливаем абсолютное позиционирование для круга */
    top: -10px; /* Расстояние от верхнего края карточки */
    right: -10px; /* Расстояние от правого края карточки */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-weight:bold;
    background-color: red;
  }

  .tile-id {
    margin-top: 0;
  }

  .tile-title {
    margin-bottom: 5px;
  }

  .tile-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tile:hover {
    cursor: pointer;
    transform: scale(1.05);
  }