/* .left-menu {
    position: absolute;
    width: 350px;
    min-width: 350px;
    height: 100%;
    color: beige;
}

.main-window {
    position: absolute;
    height: 100%;
    overflow-y: hidden;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    display: flex;
    flex-wrap: wrap;
}

.left-menu h2 {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    height: 80px;
    align-content: center;
    padding: 10px;
}

.left-menu button {
    font-size: large;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    border: 0px solid #2a5b84;
    background-color: transparent;
    color: #0f55d6;
    padding-left: 30px ;
    width: 100%;
    height: 50px;
    max-width: 100%;
}

.left-menu button:hover,
.left-menu button:active {
  background-color: #2a5c84b2;
  border-color: #2a5c84b2;
} */

.leftside-menu {
  position: absolute;
  min-width: 350px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 350px);
  background-color: #f3f3f3;
}

.page-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #222222;
  text-align: left;
  height: 40px;
  font-size: 35px;
  margin: 0;
  padding: 15px;
  align-content: center;
  width: calc(100% - 20px);
}

.content-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #222222;
  text-align: center;
  font-size: 35px;
  height: 40px;
  margin: 0;
  padding: 10px 0px 10px 20px;
  text-align: start;
  align-content: center;
  width: calc(100% - 20px);
}

.tilebox {
  /* flex-grow: 1; /* Позволяет элементам занимать всю доступную высоту */
  min-width: 200px;
  min-height: 10px;
  background-color: white;
  margin-left: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  /* width: calc(100% - 20px); */
}

.tilebox > h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #222222;
  margin: 0;
}

.tilebox > p {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #222222;
  margin: 0;
}

.leftside-menu > button:nth-of-type(1) {
  cursor: pointer;
  font-size: large;
  color: black;
  background-color: white;
  border: 1px solid #2623ff;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 10px;
  height: 50px;
  transition: background-color 0.3s, color 0.1s;
}

.leftside-menu > button:nth-of-type(2) {
  cursor: pointer;
  font-size: large;
  color: black;
  background-color: white;
  border: 1px solid #2623ff;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 10px;
  height: 50px;
  transition: background-color 0.3s, color 0.1s;
}

.leftside-menu > button:nth-of-type(3) {
  cursor: pointer;
  font-size: large;
  color: black;
  background-color: white;
  border: 1px solid #2623ff;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 10px;
  height: 50px;
  transition: background-color 0.3s, color 0.1s;
}

.leftside-menu > button:nth-of-type(4) {
  cursor: pointer;
  font-size: large;
  color: black;
  background-color: white;
  border: 1px solid #2623ff;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 10px;
  height: 50px;
  transition: background-color 0.3s, color 0.1s;
}

.leftside-menu > button:nth-of-type(1):hover {
  background-color: #2623ff;
  color: white;
}

.leftside-menu > button:nth-of-type(2):hover {
  background-color: #2623ff;
  color: white;
}

.leftside-menu > button:nth-of-type(3):hover {
  background-color: #2623ff;
  color: white;
}

.leftside-menu > button:nth-of-type(4):hover {
  background-color: #2623ff;
  color: white;
}
