.new-ticket-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.new-ticket-form {
  width: 50%;
  align-self: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.new-ticket-form h1 {
  text-align: left;
}

.new-ticket-form label {
  font-size: large;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
  max-width: 100%;
}

.new-ticket-form input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 100%;
}
.new-ticket-form input:focus {
  border: 1px solid #2623ff;
  background-color: #2623ff;
}
.new-ticket-form select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 100%;
}
.new-ticket-form select:focus {
  border: 1px solid #2623ff;
  background-color: #2623ff;
}

.new-ticket-form textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 100%;
  height: 150px;
}
.new-ticket-form textarea:focus {
  border: 1px solid #2623ff;
  background-color: #2623ff;
}

.new-ticket-form button:nth-of-type(1) {
  font: inherit;
  cursor: pointer;
  float: left;
  border: 1px solid #2623ff;
  background-color: white;
  color: #2623ff;
  border-radius: 10px;
  margin-right: 3px;
  width: 200px;
  height: 50px;
  max-width: 100%;
}

.new-ticket-form button:nth-of-type(2) {
  font: inherit;
  cursor: pointer;
  float: right;
  border: 1px solid #2623ff;
  background-color: white;
  color: #2623ff;
  border-radius: 10px;
  margin-right: 3px;
  width: 200px;
  height: 50px;
  max-width: 100%;
  transition: background-color 0.2s, color 0.1s;
}

.new-ticket-form button:hover,
.new-ticket-form button:active {
  background-color: #2623ff;
  color: white;
}
