.request-notes {
    background-color: transparent;
    height: 100%;
    max-width: 100%;
    list-style: none;
    margin: 1rem 1rem 0rem 1rem;
    /* border: 1px solid pink; */
}

.request-note {
    position: relative;
    display: flex;
    padding-left: 10px;
    padding: 10px;
    margin: 0px 0px 15px 0px;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #727CF5;
    background-color: white;
    cursor: pointer;  
}

.request-note-first-column {
    /* display: flex; */
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    min-width: 100px;
}
.request-note-first-column > h2:nth-child(1) { 
    text-align: left;
    width: 100%;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}
.request-note-first-column > p:nth-child(2) {
    font-size:medium;  
    font-weight:normal;
    text-align: left;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.request-note-second-column {
    /* display: flex; */
    overflow: hidden;
    justify-content: flex-end;
    width: calc(100% - 500px); 
}

.request-note-second-column > p {
    text-align: end;
    margin: 0;   
}

.request-note-unread-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-weight:bold;
    background-color: red;
  }