.ticket-notes {
  background-color: transparent;
  height: 100%;
  max-width: 100%;
  list-style: none;
  margin: 1rem 1rem 0rem 1rem;
  /* border: 1px solid pink; */
}

.ticket-note {
  position: relative;
  display: flex;
  padding-left: 10px;
  padding: 0px;
  margin: 0px 0px 15px 0px;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #2623ff;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  transition: color 0.1s ease;
  /* transition: background-color 0.2s, color 0.2s; */
}

/* слой для анимации */
.ticket-note::before {
  content: "";
  position: absolute;
  top: 0;
  /* left: 10px; */
  width: 0;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  background-color: #2623ff;
  transition: width 0.3s ease;
  z-index: -1;
}

.ticket-note:hover::before {
  /* width: calc(100% - 10px); */
  /* left: 10px; */
  width: 100%;
}

.ticket-note:hover {
  /* background-color: #2623ff; */
  color: white;
}

.ticket-note-status-color {
  min-width: 10px;
  max-width: 10px;
  background-color: rgb(6, 182, 6);
  border-radius: 10px 0px 0px 10px;
  z-index: -2;
}

.ticket-note-first-column {
  /* display: flex; */
  padding: 10px;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  min-width: 100px;
}
.ticket-note-first-column > h2:nth-child(1) {
  text-align: left;
  width: 100%;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
}
.ticket-note-first-column > p:nth-child(2) {
  font-size: medium;
  font-weight: normal;
  text-align: left;
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket-note-second-column {
  /* display: flex; */
  padding: 10px;
  overflow: hidden;
  justify-content: flex-end;
  width: calc(100% - 500px);
}

.ticket-note-second-column > p {
  text-align: end;
  margin: 0;
}

.ticket-note-unread-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  background-color: red;
}
