.requests-structure-container {
    display: flex;
    gap: 5px;
    padding-right: 5px;
}

.requests-structure-container button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.requests-structure-container button img {
    width: 30px;
    height: 30px;
}

.requests-structure-container button:hover {
    background-color: rgb(255, 255, 255);
}