.tickets-structure-container {
    display: flex;
    gap: 5px;
    padding-right: 5px;
}

.tickets-structure-container button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    /* transition: background-color 0.3s, color 0.3s; */
    transition: filter 0.3s ease;
}

.tickets-structure-container button img {
    width: 30px;
    height: 30px;
}

.tickets-structure-container button:hover {
    /* background-color: rgb(255, 255, 255); */
    filter: sepia(1) saturate(10) hue-rotate(210deg);
}