.user-tickets-filter {
  margin: 0px 16px;
  padding: 0rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #2623ff;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 10px;
}
